.orderTableRow {
    margin-top: 5px;
    display: flex;
    width: 100%;
    border-bottom: 2px solid lightslategrey;
}

.orderTableCell {
    box-sizing: border-box;
    padding: 3px 0;
    text-align: center;
    text-wrap: wrap;
    font-size: small;
}

.cellHover:hover {
    font-weight: bold;
    cursor: pointer;
}

.orderTableRow .orderTableCell:nth-child(1) {
    width: 10%;
}

.orderTableRow .orderTableCell:nth-child(2) {
    width: 40%;
}

.orderTableRow .orderTableCell:nth-child(3) {
    width: 10%;
}

.orderTableRow .orderTableCell:nth-child(4) {
    width: 10%;
}

.orderTableRow .orderTableCell:nth-child(5) {
    width: 10%;
}

.orderTableRow .orderTableCell:nth-child(6) {
    width: 10%;
}

.orderTableRow .orderTableCell:nth-child(7) {
    width: 10%;
}