header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #003C78;
    color: #FFFFEF;
    text-align: center;
}

header .logo {
    width: 120px;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
}

.subMenu {
    height: 25px;
    background-color: #1c5a99;
    color: #FFFFEF;
}

.subMenuText {
    margin-left: 20px;
}

.user {
    display: flex;
}

.avatar {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.contentContainer {
    max-width: 1200px;
    margin: 0 auto;
}

/* .constructions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.construction {
    display: flex;
    width: 100%;
    min-height: 30px;
    background-color: #00cdfb;
    padding: 5px;
    border: 1px solid lightslategrey;
    border-radius: 7px;
} */